@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chakra+Petch&family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Rajdhani:wght@500&family=Raleway:wght@200&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

/* ========== CUSTOM CSS ========== */
#main {
  width: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* ========== CUSTOM CSS ========== */
*::selection {
  background-color: #000;
  color: #fff;
}
#home {
  height: 100vh;
  width: 100%;
}
/* ========== HAMBURGER ========== */
/* ========== HAMBURGER ========== */

.section {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  color: #1f1f1f;
}
.section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}
#hambur {
  padding: 2vw;
}
.btnOutLine1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
.btnOutLine2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}
/* menu styling  */

.menu-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #1f1f1f;
  z-index: -10;
  display: flex;
  opacity: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.menu-container > .logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 35px;
  color: #ebeae4;
}
.log0 h1 {
  line-height: 95%;
}

.menu-close-section {
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #919598;
}
.menu-close-section > .inner-menu-close {
  display: flex;
  width: 100%;
  padding: 35px 0px;
  justify-content: space-between;
}
.menu-close-section h1 {
  font-size: 250px;
  line-height: 80%;
  color: #1f1f1f;
  padding: 0px 30px;
  padding-bottom: 15px;
}
.menu-close-section > .inner-menu-close > .circle-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 30px;
  background-color: #1f1f1f;
  border-radius: 100%;
}
.menu-close-section > .inner-menu-close > .circle-hover .inner-circle-hover {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #919598;
  border-radius: 100%;
  transition: 0.4s ease-in-out;
}
.inner-menu-close:hover .circle-hover .inner-circle-hover {
  transform: scale(0);
  transition: 0.4s ease-in-out;
}

/* menuitems section  */
.menu-items-section {
  width: 100%;
  position: absolute;
  z-index: 30;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
.menu-items-section .menu-item-section {
  height: 23vh;
  background-color: #ebeae4;
  color: #1f1f1f;
}
.menu-item-section .inner-menu-item {
  display: flex;
  width: 100%;
  padding: 35px 0px;
  justify-content: space-between;
}

.inner-menu-item h1 {
  font-size: 50px;
  line-height: 80%;
  padding: 0px 30px;
}
.inner-menu-item > .circle-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 30px;
  background-color: #1f1f1f;
  border-radius: 100%;
}
.inner-menu-item > .circle-hover .inner-circle-hover {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ebeae4;
  border-radius: 100%;
  transition: 0.4s ease-in-out;
}
.menu-item-section:hover .circle-hover .inner-circle-hover {
  transform: scale(0);
  transition: 0.4s ease-in-out;
}

.menu-items-section .menu-about-section {
  width: 30%;
}

.menu-items-section .menu-blogs-section {
  width: 60%;
}

.menu-items-section .menu-contact-section {
  width: 100%;
}

/* ========== HERO ========== */
/* ========== HERO ========== */
/* {



#hero {
  padding: 0 20vw;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#profile-detls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.title {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.my-image {
  width: 50%;
  height: 100%;
}
.profile-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}

.title h1 {
  display: flex;
  font-size: 33px;
}
.title p {
  letter-spacing: -0.1px;
  font-size: 13px;
  opacity: 0.6;
}
.emoji {
  rotate: 15deg;
}

.media i {
  font-size: 22px;
  padding-right: 5px;
}

#tech-stack {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#tech-stack p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.tech-lists {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.tech-lists img {
  width: 22px;
  height: 25px;
  object-fit: cover;
}

} */

#heroCont {
  padding: 5vw 9vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainTitle {
  line-height: 1.2;
  font-size: 8vw;
  font-weight: 100;
  letter-spacing: -6px;
  font-family: "Open Sans", sans-serif;
}
#heroCont h1 {
  display: flex;
  align-items: center;
}
#heroCont video {
  width: 130px;
  height: 90px;
  border-radius: 60px;
  object-fit: cover;
}

#circle {
  background-image: url(./image/uttam.png);
  background-position: center;
  background-size: contain;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texty {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}
.texty span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
  color: #fff;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ========== ABOUT ========== */
/* ========== ABOUT ========== */
#about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-container {
  display: flex;
  align-items: center;
}
#about-detls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}
#about-image,
#about-detls {
  width: 350px;
  height: 320px;
  padding: 1rem;
}
#about-detls h5 {
  font-weight: 700;
  letter-spacing: 0.2px;
  color: rgb(81, 81, 249);
}
#about-detls p {
  font-size: 15px;
  text-align: start;
}

/* ========== PROJECTS ========== */
/* ========== PROJECTS ========== */

#fimages {
  height: 100vh;
  width: 100%;
  padding: 5vw 10vw;
  display: flex;
  justify-content: space-evenly;
}
#fleft {
  overflow: hidden;
  width: 40%;
  height: 100%;
}
#flemem {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1vw;
  padding: 1vw;
  color: #000;
}

#fright {
  overflow: hidden;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fright .fimages {
  overflow: hidden;
  width: 85%;
  height: 75%;
  background-color: red;
}
.fimages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* ========== SLIDER ========== */
/* ========== SLIDER ========== */
#slider {
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}
.slide {
  width: 30%;
}
.slide .img {
  width: 100%;
  height: 270px;

  overflow: hidden;
}
.slide .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.tag {
  width: fit-content;
  padding: 10px 22px;
  background-color: #dadada;
  border-radius: 100px;
  margin: 20px 0;
}
.slide h3 {
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* ========== TEXT ANIMITION ========== */
/* ========== TEXT ANIMITION ========== */
#text-aimition {
  width: 100%;
}
.container {
  overflow: hidden;
  background: #171715;
  cursor: ew-resize;
  white-space: nowrap;
  padding: 0.5vh 0;
}

.textClass {
  font-family: "Canopee", sans-serif;
  font-size: 7vw;
  position: relative;
  color: #99948d;
  display: inline-block;
  margin: 0;
  padding: 0 15%;
  will-change: transform;
}

/* ========== Follow ========== */
/* ========== Follow ========== */
#followme {
  background-color: #000;
  color: #fff;
}
#folow-us {
  background-color: #fff;
}
#follow {
  border-bottom: 0.1px solid #545353;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#stripe {
  width: 100%;
  padding: 2vw 0;
  background-color: #000;
  color: #fff;
  display: flex;
  overflow: hidden;
}
.elem {
  width: fit-content;
  display: flex;
}
.bgCOnt {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 245, 245);
  opacity: 0;
}
.elem a {
  gap: 2rem;
  color: #fff;
  font-size: 2rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}
.elem img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  object-fit: cover;
  margin: 0 1.5rem;
}

#github2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 0%;
}

/* =================== MARQUE =============== */
/* =================== MARQUE =============== */
#marqueAnimition {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 30px 0;
}
#marqueinner {
  width: fit-content;
  overflow: hidden;
  display: flex;
  flex: auto;
  gap: 1rem;
}
#text-part {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 1rem;
}
#text-part h1 {
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: 300;
}
#text-part video {
  margin-top: 10px;
  top: 10px;
  width: 130px;
  height: 80px;
  border-radius: 60px;
  object-fit: cover;
}

#highfen {
  width: 100px;
  height: 5px;
  border: radius 10px;
  background-color: #000;
}

/* =================== MARQUE =============== */
/* =================== MARQUE =============== */

#footer {
  background-color: red;
  position: relative;
  height: 100vh;
  width: 100%;
}

#footerVideo {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
#footerVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#footerText {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9999;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#footerText h1 {
  font-size: 7vw;
  font-weight: 300;
}
#footerText .button {
  padding: 0rem 4rem;
  border: 2px solid #fff;
  border-radius: 150px;
}
#footerContect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8%;
  padding: 5%;
}
.gmail,
.phone {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 25px;
}
